@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lexend&family=Poppins&display=swap');

html {
    height: 100%;
}

body {
    background: rgb(42,227,240);
    background: linear-gradient(0deg, rgba(42,227,240,0.8477984943977591) 0%, rgba(169,0,255,0.45284051120448177) 16%);
}

#app {
    text-align: center;
    // border: solid;
    padding: 5px;
    min-width: 500px;
    max-width: 1100px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: Lexend;
    img {
        margin-bottom: 10px;
    }
    input {
        margin-bottom: 5px;
    }
    button {
        font-family: Lexend;
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: #73d34a;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        line-height: 1;
        cursor: pointer;
        text-align: center;
    }
}